.namePage__container {
  height: 100%;
  width: 100%;

  display: grid;

  @media (min-width: 320px) {
    grid-template-rows: [topMarg] 2% [navBox] 12% [rowBody] 11.5fr[belowName] 12fr [belowIcons] 10fr [belowNav] 1.3fr [catch] 0.5rem [bottomMarg] 0rem;
    grid-template-columns: [leftMarg] 3% [toggledNav] 2fr [colBody] 8fr [oppToggledNav] 2fr [rightMarg] 3% [end];
  }

  @media (min-width: 768px) {
    grid-template-rows: [topMarg] 2% [navBox] 12% [rowBody] 11.5fr[belowName] 12fr [belowIcons] 10fr [belowNav] 1.3fr [catch] 0.5rem [bottomMarg] 0rem;
    grid-template-columns: [leftMarg] 2% [toggledNav] 2fr [colBody] 8fr [oppToggledNav] 2fr [rightMarg] 2% [end];
  }

  @media (min-width: 1200px) {
    grid-template-rows: [topMarg] 3% [navBox] 12% [rowBody] 11.5fr[belowName] 12fr [belowIcons] 10fr [belowNav] 1.3fr [catch] 0.5rem [bottomMarg] 0rem;
    grid-template-columns: [leftMarg] 2% [toggledNav] 2fr [colBody] 8fr [oppToggledNav] 2fr [rightMarg] 2% [end];
  }

  @media (min-width: 1440px) {
    grid-template-rows: [topMarg] 4% [navBox] 12% [rowBody] 11.5fr[belowName] 12fr [belowIcons] 10fr [belowNav] 1.3fr [catch] 0.5rem [bottomMarg] 0rem;
    grid-template-columns: [leftMarg] 2% [toggledNav] 2fr [colBody] 8fr [oppToggledNav] 2fr [rightMarg] 2% [end];
  }
}
// hamburger icon
.namePage__topRow {
  grid-row: navBox;
  grid-column: toggledNav/rightMarg;
  z-index: 1;
  display: flex;
}

.namePage__icon-linkWrapper {
  grid-row: navBox;
  grid-column: toggledNav;
  z-index: 3;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;

  margin-left: 0%;
  margin-top: 5%;

  @media (min-width: 320px) {
    font-size: 6px;
    margin-top: 0;
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    font-size: 9px;
  }

  @media (min-width: 1440px) {
    font-size: 11px;
  }

  i {
    color: white;
    @media (min-width: 320px) {
      margin-top: 2rem;
      margin-right: 1rem;
    }

    @media (min-width: 768px) {
      margin-top: 3rem;
      margin-right: 2.5rem;
    }
    @media (min-width: 1440px) {
      margin-top: 3rem;
      margin-right: 2rem;
    }
  }
}
// backgrounds
.namePage__giff {
  border: black solid 1px;
  grid-row: navBox/catch;
  grid-column: toggledNav/rightMarg;
  background: url("https://media.giphy.com/media/Wm9XlKG2xIMiVcH4CP/giphy.gif");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 320px) {
    background-position: 0 0rem;
  }

  @media (min-width: 1024px) {
    background-position: 0 -6rem;
  }

  @media (min-width: 1440px) {
    background-position: 0 -30rem;
  }
}
.namepage__overlay {
  grid-row: navBox/catch;
  grid-column: toggledNav/rightMarg;
  background: rgba(155, 34, 143, 0.5);
}

//svgs
.namePage__svg-container {
  grid-row: navBox/bottomMarg;
  grid-column: colBody/rightMarg;
}

.namepage_svg-container2 {
  grid-row: rowBody/bottomMarg;
  grid-column: toggledNav/rightMarg;
  margin-top: auto;
  svg {
    margin: 0;
  }
}
//content
.namePage__content-name {
  z-index: 0;

  h1 {
    margin: 0;

    font-family: "Bangers", cursive;
    color: white;

    @media (min-width: 320px) {
      font-size: 48px;
      height: 8rem;
    }
    @media (min-width: 768px) {
      margin-bottom: 5rem;
      font-size: 80px;
      height: 8rem;
    }

    @media (min-width: 1280px) {
      font-size: 80px;
      height: 8rem;
    }
    @media (min-width: 1440px) {
      font-size: 100px;
    }
  }
}
.namePage__content-description {
  p {
    margin: 0;

    color: white;
    z-index: 0;

    @media (min-width: 320px) {
      font-size: 23px;
    }
    @media (min-width: 768px) {
      font-size: 30px;
    }
    @media (min-width: 1440px) {
      font-size: 34px;
    }
  }
}

.namePage__content-wrapper {
  grid-row: rowBody/belowIcons;
  grid-column: leftMarg/end;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.namePage__icons-box {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 320px) {
    font-size: 8px;
    margin-top: 3rem;
  }
  @media (min-width: 768px) {
    font-size: 9px;
  }
  @media (min-width: 1200px) {
    font-size: 9px;
  }

  @media (min-width: 1440px) {
    font-size: 10px;
  }
}

//icons

.namePage__github {
  color: white;
}

.namePage__bitBucket {
  color: white;

  @media (min-width: 320px) {
    margin: 0 10%;
  }
  @media (min-width: 768px) {
    margin: 0 18%;
  }
  @media (min-width: 1024px) {
    margin: 0 18%;
  }
}
.namePage__faceBook {
  color: white;
}
