.projects__container {
  height: 114rem;
  width: 100%;

  display: grid;

  grid-template-rows: [projTopMarg] 20rem [projrBody] 1fr [projrDivider]4rem [projrBodyLow] 1fr [projBottomMarg] 15rem [projCatch] 1rem [end];
  grid-template-columns: [projLeftMarg] 3rem [projcBody] 1fr [projcBodyRight] 1fr [projRightMarg] 3rem [end];
}

.projects__divider {
  grid-row: projrDivider/projrBodyLow;
  grid-column: projcBody/projRightMarg;
}

.project__topsvg {
  grid-row: projTopMarg/end;
  grid-column: projLeftMarg/end;
}

.proj_bottom-svg-container {
  grid-row: projTopMarg/end;
  grid-column: projLeftMarg/end;
  margin-top: auto;
}
.projects__bg {
  grid-row: projTopMarg/projCatch;
  grid-column: projcBody/projRightMarg;
  background: transparentize($lightGarfield, 0.4);
}
.projects__bg-art {
  grid-row: projTopMarg/projCatch;
  grid-column: projcBody/projRightMarg;
  background: url("/images/curcuit.png");
  background-size: cover;
}
.projects__header {
  grid-row: projTopMarg/projrBody;
  grid-column: projcBody/proRightMarg;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  h1 {
    font-size: 30px;
    margin-bottom: 4rem;
    height: 4rem;
    z-index: 2;
    color: white;
  }
}
