.proj__ur {
  margin: auto 0;
  border: black 2px solid;
  box-shadow: 5px 5px 10px grey;
  display: grid;

  background: white;

  z-index: 1;
  @media (min-width: 320px) {
    margin-top: 1rem;
    grid-template-rows: [ur_header] 8rem [ur_body] 45rem [ur_buttons] 6rem [end];
    grid-template-columns: [ur_left] 1fr [ur_right] 1fr [end];
  }
  @media (min-width: 768px) {
    height: 42.25rem;

    display: grid;
    grid-template-rows: [ur_header] 10rem [ur_body] 26rem [ur_buttons] 6rem [end];
    grid-template-columns: [ur_left] 1fr [ur_right] 1fr [end];
  }

  @media (min-width: 1280px) {
    display: grid;
    margin-top: 0;
    height: 90%;
    margin: auto 0;
    grid-template-rows: [ur_header] 2fr [ur_body] 6fr [ur_buttons] 1fr [end];
    grid-template-columns: [ur_left] 1fr [ur_right] 1fr [end];
  }
}
//header

.proj__blog-header {
  background: $thelightestpurp;
  grid-row: ur_header/ur_body;
  grid-column: ur_left/end;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 29px;
    color: white;
    @media (min-width: 1920px) {
      text-align: left;
      font-size: 35px;
    }
  }
}

//buttons

.proj__ur-buttons-container {
  @media (min-width: 320px) {
    grid-row: ur_buttons/end;
    grid-column: ur_left/end;
    display: flex;
    justify-content: space-around;
    z-index: 5;
  }
}

//sumary and pic content

.proj__photo-text-wrapper-ur {
  grid-row: ur_body/end;
  grid-column: ur_left/end;

  display: grid;

  @media (min-width: 320px) {
    background: lighten(#d8d0da, 0);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @media (min-width: 768px) {
    background: lighten(#d8d0da, 0);
  }

  @media (min-width: 1280px) {
    background: lighten(#d8d0da, 0);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

//summary content

.proj__blog-sum {
  z-index: 1;

  background: lighten(#d8d0da, 0);

  @media (min-width: 320px) {
    width: 93%;
    height: 100%;
  }

  @media (min-width: 1280px) {
    height: 90%;
    width: 93%;
  }
  p {
    font-weight: 700;
    color: black;
    font-size: 16px;
    @media (min-width: 320px) {
      font-size: 17px;
      text-align: center;
    }

    @media (min-width: 768px) {
      text-align: left;
      font-size: 18px;
    }

    @media (min-width: 1920px) {
      text-align: left;
      font-size: 23px;
    }
  }
}

.proj__blog-sum-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lighten(#d8d0da, 0);
  // padding-right: 1rem;
  @media (min-width: 320px) {
    height: 23rem;
  }

  @media (min-width: 768px) {
    // border: green 2px solid;
    height: 32rem;
  }

  @media (min-width: 768px) {
    // border: green 2px solid;
    height: 28rem;
    margin: 0;
  }

  @media (min-width: 1280px) {
    // border: green 2px solid;
    height: 100%;
  }
}

//pic content

.proj__blog-ss {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lighten(#d8d0da, 0);
  @media (min-width: 320px) {
    height: 25rem;
  }
  @media (min-width: 768px) {
    height: 32rem;
    margin: 0;
  }

  @media (min-width: 1280px) {
    height: 100%;
    margin: 0;
  }
}
.proj__blog-photo {
  background: url("/images/Pathways.png");
  width: 93%;
  height: 80%;

  background-size: cover;
  z-index: 1;
  border: black 1px solid;
  @media (min-width: 320px) {
    height: 90%;
    background-position: -8rem 0;
  }

  @media (min-width: 360px) {
    height: 90%;
    background-position: -5.5rem 0;
  }
  @media (min-width: 400px) {
    height: 90%;
    background-position: -4rem 0;
  }

  @media (min-width: 768px) {
    height: 90%;
    background-position: -11rem 0;
  }

  @media (min-width: 1280px) {
    height: 80%;
    background-position: -7rem 0;
  }

  @media (min-width: 1440px) {
    height: 80%;
    background-position: -5.5rem 0;
  }

  @media (min-width: 1920px) {
    height: 80%;
    background-position: 0rem 0;
  }
}

//after click

.proj__ur-readMore-afterclick {
  grid-row: ur_header/end;
  grid-column: ur_left/end;

  background: $thelightestpurp;
  background-size: cover;
  z-index: 4;
  opacity: 0;

  display: grid;
  grid-template-rows: [ur_ac_header] 1fr [ur_acbody] 3fr [end];
  grid-template-columns: [ul_ac_main] auto;
  @media (min-width: 320px) {
    grid-template-rows: [ur_ac_header] 10rem [ur_acbody] 63rem [end];
    grid-template-columns: [ur_ac_main] auto;
  }

  @media (min-width: 1280px) {
    grid-template-rows: [ur_ac_header] 10rem [ur_acbody] 25rem [end];
    grid-template-columns: [ur_ac_main] auto;
  }
}

.proj__ur-ac-header {
  grid-row: ur_ac_header/ur_acbody;
  grid-column: ur_ac_main;

  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 320px) {
    justify-content: space-between;
  }
  button {
    z-index: 1;
    @media (min-width: 320px) {
    }
  }
  h1 {
    font-size: 25px;
    margin-left: 7%;
    color: white;
    display: inline-block;

    @media (min-width: 320px) {
      font-size: 30px;
    }
  }
}

.proj__ur-ac-text {
  grid-row: ur_acbody/end;
  grid-column: ur_ac_main;

  display: flex;
  justify-content: center;
  align-items: center;
}

.proj__ur-ac-text-box {
  margin-left: 3%;
  max-height: 25rem;
  margin-bottom: auto;
  // width: 20%;

  color: white;

  @media (min-width: 320px) {
    overflow-y: scroll;
    max-height: 45rem;
  }

  @media (min-width: 1280px) {
    max-height: 26rem;
  }

  p {
    font-size: 17px;
    @media (min-width: 320px) {
      font-size: 20px;
      text-align: center;
    }

    @media (min-width: 768px) {
      font-size: 20px;
      text-align: left;
    }
  }
}
