.skills__container {
  background: $mywhite;

  width: 100vw;
  display: grid;

  @media (min-width: 320px) {
    height: 84rem;
    grid-template-rows: [skillsTopMarg] 4rem [skillsHeader] 9rem [skillsPic] 60rem [skillsBelowPic] 2rem [skillsbottemMarg] 7rem [skillsBottomCatch] 1rem[end];
    grid-template-columns: [skillsLeftMarg] 3% [skillsColPic] 3fr [skillsDivider] 1fr [skillsText] 4fr [skillsMargRight] 3% [end];
  }

  @media (min-width: 768px) {
    height: 131rem;
    grid-template-rows: [skillsTopMarg] 4rem [skillsHeader] 18rem [skillsPic] 90rem [skillsBelowPic] 2rem [skillsbottemMarg] 12rem [skillsBottomCatch] 1rem[end];
    grid-template-columns: [skillsLeftMarg] 2% [skillsColPic] 3fr [skillsDivider] 1fr [skillsText] 4fr [skillsMargRight] 2% [end];
  }
  @media (min-width: 1024px) {
    height: 85rem;
    grid-template-rows: [skillsTopMarg] 4rem [skillsHeader] 20rem [skillsPic] 40rem [skillsBelowPic] 2rem [skillsbottemMarg] 15rem [skillsBottomCatch] 1rem[end];
    grid-template-columns: [skillsLeftMarg] 2% [skillsColPic] 3fr [skillsDivider] 1fr [skillsText] 4fr [skillsMargRight] 2% [end];
  }

  @media (min-width: 1440px) {
    height: 88rem;
    grid-template-rows: [skillsTopMarg] 4rem [skillsHeader] 22rem [skillsPic] 40rem [skillsBelowPic] 2rem [skillsbottemMarg] 17rem [skillsBottomCatch] 1rem[end];
    grid-template-columns: [skillsLeftMarg] 2% [skillsColPic] 3fr [skillsDivider] 1fr [skillsText] 4fr [skillsMargRight] 2% [end];
  }

  @media (min-width: 1900px) {
    height: 115rem;
    grid-template-rows: [skillsTopMarg] 4rem [skillsHeader] 30rem [skillsPic] 50rem [skillsBelowPic] 2rem [skillsbottemMarg] 23rem [skillsBottomCatch] 1rem[end];
    grid-template-columns: [skillsLeftMarg] 2% [skillsColPic] 3fr [skillsDivider] 1fr [skillsText] 4fr [skillsMargRight] 2% [end];
  }
}
// background

.skills__bg-art {
  z-index: 1;
  grid-column: skillsColPic/skillsMargRight;
  grid-row: skillsHeader/skillsBottomCatch;
  background: url("/images/curcuit.png");
  background-size: cover;
}

//pic and text

.skills__pic-text-wrapper {
  z-index: 3;
  background: white;
  grid-row: skillsPic;
  grid-column: skillsColPic/skillsMargRight;
  display: grid;

  @media (min-width: 320px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
  }
}
.skills__pic-box {
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 320px) {
    height: 30rem;
  }

  @media (min-width: 768px) {
    height: 50rem;
  }

  @media (min-width: 1024px) {
    height: 40rem;
    z-index: 2;
  }

  @media (min-width: 1900px) {
    height: 50rem;
    z-index: 2;
  }
}
.skills__pic {
  border: black solid 1px;
  box-shadow: 5px 5px 10px grey;

  width: 100%;
  background: url("/images/headShot.jpeg");
  background-size: cover;
  background-position: 0 0;
  @media (min-width: 320px) {
    height: 95%;
    background-position: -3.5rem 0;
  }

  @media (min-width: 1024px) {
    height: 93%;
    background-position: 0rem -4rem;
  }
}
.skills__text-box {
  background: white;
  display: flex;

  justify-content: center;
  align-items: center;
  padding-left: 1rem;

  z-index: 2;
  @media (min-width: 320px) {
    padding-left: 0;
    height: 30rem;
    padding-bottom: 0.5rem;
  }
  @media (min-width: 768px) {
    height: 40rem;
  }

  @media (min-width: 1024px) {
    padding-bottom: 0;
  }

  @media (min-width: 1900px) {
    padding-bottom: 0;
    height: 50rem;
  }
}

.skills-text {
  background: $darkestpurp;
  border: black solid 1px;
  box-shadow: 5px 5px 10px grey;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  z-index: 1;
  @media (min-width: 320px) {
    height: 95%;
  }

  @media (min-width: 1024px) {
    height: 93%;
  }

  p {
    color: white;

    line-height: 1.5;
    z-index: 2;
    @media (min-width: 320px) {
      font-size: 17px;
      font-weight: 400;
      padding: 0 3rem;
    }

    @media (min-width: 768px) {
      font-size: 22px;
    }

    @media (min-width: 1024px) {
      font-size: 21px;
    }

    @media (min-width: 1440px) {
      padding: 2rem 3rem;
      font-size: 24px;
    }

    @media (min-width: 1900px) {
      font-size: 28px;
      font-weight: 500;
    }
  }

  h1 {
    color: white;
    padding: 1rem 3rem;
    text-align: center;
    @media (min-width: 320px) {
      font-size: 20px;
      font-weight: 600;
      padding: 0 3rem;
    }

    @media (min-width: 768px) {
      font-size: 24px;
      padding: 1rem 3rem;
    }

    @media (min-width: 1024px) {
      font-size: 21px;
    }

    @media (min-width: 1440px) {
      font-size: 25px;
      padding: 2.5rem 3rem;
    }

    @media (min-width: 1900px) {
      font-size: 30px;
    }
  }

  hr {
    width: 80%;
  }
}

//header footer

.skills__header {
  z-index: 2;
  background: transparentize($lightGarfield, 0.4);

  grid-row: skillsHeader;
  grid-column: skillsColPic/skillsMargRight;
  display: flex;
  justify-content: center;
  @media (min-width: 320px) {
    align-items: center;
  }
  h1 {
    color: $mywhite;
    font-size: 35px;

    display: inline-block;
    @media (min-width: 320px) {
      margin-top: 2rem;
      font-size: 19px;
    }
    @media (min-width: 768px) {
      font-size: 30px;
      margin-top: 7rem;
    }
    @media (min-width: 1024px) {
      font-size: 30px;
      margin-top: 8rem;
    }

    @media (min-width: 1440px) {
      font-size: 35px;
      margin-top: 10rem;
    }

    @media (min-width: 1900px) {
      font-size: 50px;
      margin-top: 15rem;
    }
  }
}

.skills__footer {
  z-index: 3;
  background: transparentize($lightGarfield, 0.4);
  grid-row: skillsBelowPic/skillsBottomCatch;
  grid-column: skillsColPic/skillsMargRight;
}
//svgs

.skills__topsvg {
  grid-row: skillsTopMarg/end;
  grid-column: skillsLeftMarg/end;
  z-index: 3;
  @media (min-width: 320px) {
    grid-row: skillsTopMarg/skillsPic;
    grid-column: skillsLeftMarg/end;
    margin-top: 2.7rem;
  }
}

.skills_svg-container {
  grid-row: skillsTopMarg/end;
  grid-column: skillsLeftMarg/end;
  margin-top: auto;
  z-index: 3;
  @media (min-width: 320px) {
    margin-bottom: 1%;
  }

  @media (min-width: 768px) {
    margin-bottom: 0%;
  }
}
