.tech-container {
  height: 40rem;
  width: 100vw;

  display: grid;
  grid-template-rows: [techTopMarg] 0 [techBody] 8fr [techBottomMarg] 2fr [end];
  grid-template-columns: [techLeftMarg] 10% [techc1] 2.5fr [techc2] 2.5fr [techc3] 2.5fr [techc4] 2.5fr [techRightMarg] 10% [end];

  @media (min-width: 320px) {
    height: 140rem;
    grid-template-rows: [techTopMarg] 0 [techBody] 8fr [techBottomMarg] 2fr [end];
    grid-template-columns: [techLeftMarg] 8% [techc1] 2.5fr [techc2] 2.5fr [techc3] 2.5fr [techc4] 2.5fr [techRightMarg] 8% [end];
  }

  @media (min-width: 360px) {
    height: 140rem;
    grid-template-rows: [techTopMarg] 0 [techBody] 8fr [techBottomMarg] 2fr [end];
    grid-template-columns: [techLeftMarg] 12% [techc1] 2.5fr [techc2] 2.5fr [techc3] 2.5fr [techc4] 2.5fr [techRightMarg] 12% [end];
  }

  @media (min-width: 400px) {
    height: 140rem;
    grid-template-rows: [techTopMarg] 0 [techBody] 8fr [techBottomMarg] 2fr [end];
    grid-template-columns: [techLeftMarg] 17% [techc1] 2.5fr [techc2] 2.5fr [techc3] 2.5fr [techc4] 2.5fr [techRightMarg] 17% [end];
  }

  @media (min-width: 768px) {
    height: 70rem;

    grid-template-rows: [techTopMarg] 0 [techBody] 8fr [techBottomMarg] 2fr [end];
    grid-template-columns: [techLeftMarg] 12% [techc1] 2.5fr [techc2] 2.5fr [techc3] 2.5fr [techc4] 2.5fr [techRightMarg] 12% [end];
  }

  @media (min-width: 1020px) {
    height: 35rem;

    grid-template-rows: [techTopMarg] 0 [techBody] 8fr [techBottomMarg] 2fr [end];
    grid-template-columns: [techLeftMarg] 2% [techc1] 2.5fr [techc2] 2.5fr [techc3] 2.5fr [techc4] 2.5fr [techRightMarg] 2% [end];
  }

  @media (min-width: 1280px) {
    grid-template-rows: [techTopMarg] 0 [techBody] 8fr [techBottomMarg] 2fr [end];
    grid-template-columns: [techLeftMarg] 5% [techc1] 2.5fr [techc2] 2.5fr [techc3] 2.5fr [techc4] 2.5fr [techRightMarg] 5% [end];
  }

  @media (min-width: 1400px) {
    grid-template-rows: [techTopMarg] 0 [techBody] 8fr [techBottomMarg] 2fr [end];
    grid-template-columns: [techLeftMarg] 9% [techc1] 2.5fr [techc2] 2.5fr [techc3] 2.5fr [techc4] 2.5fr [techRightMarg] 9% [end];
  }

  @media (min-width: 1900px) {
    grid-template-rows: [techTopMarg] 0 [techBody] 8fr [techBottomMarg] 2fr [end];
    grid-template-columns: [techLeftMarg] 15% [techc1] 2.5fr [techc2] 2.5fr [techc3] 2.5fr [techc4] 2.5fr [techRightMarg] 15% [end];
  }
}

.tech-interior-container {
  grid-row: teckBody;
  grid-column: techc1/techRightMarg;

  display: grid;

  @media (min-width: 320px) {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1rem;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
  }
  @media (min-width: 1020px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5rem;
  }

  @media (min-width: 1900px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8rem;
  }
}

//card 1

.tech-card1 {
  transition: box-shadow 0.5s;
  will-change: transform;
  // box-shadow: 5px 5px 10px grey;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: [techPic1] 0.75fr [techSkills1] 3fr;
  grid-template-columns: [techCardBody1] auto [end];

  // grid-row: techBody;
  // grid-column: techc1;
  border: black 1px solid;
}
.tech-card1:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.tech-card1-pic1 {
  grid-row: techPic1;
  grid-column: techCardBody1;

  background: $darkestpurp;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    //
    color: $mywhite;

    height: 3rem;
    font-size: 18px;
  }
}
.tech-card1-list1 {
  margin-top: 5px;
  background: lighten(#d8d0da, 0);
  grid-row: techSkills1;
  grid-column: techCardBody1;
  display: grid;
  grid-template-rows: [list1-topMarg] 2rem [list1-1] 2.5fr [list1-2] 2.5fr [list1-3] 2.5fr [list1-4] 2.5fr [list1-bottomMarg] 2rem;
  grid-template-columns: [listIcon] 4fr [list1Body] 8fr [end];
}

// first row
.list1-icon1 {
  // background: $thelightestpurp;
  grid-row: list1-1;
  grid-column: listIcon/list1Body;
  background: url("/images/javascriptIcon.png") no-repeat;
  background-size: cover;
  margin: 6px 19px;
}
.list1R1 {
  grid-row: list1-1;
  grid-column: list1Body;
  display: flex;
  justify-content: left;
  align-items: center;

  h2 {
    font-size: 17px;
    margin-left: 1rem;
    width: 10rem;
    color: white;
  }
}
//second row

.list1-icon2 {
  // background: $thelightestpurp;
  grid-row: list1-2;
  grid-column: listIcon/list1Body;
  background: url("/images/html.png");
  background-size: cover;
  margin: 5px 20px;
}
.list1R2 {
  grid-row: list1-2;
  grid-column: list1Body;
  display: flex;
  justify-content: left;
  align-items: center;

  h2 {
    font-size: 17px;
    margin-left: 1rem;
    width: 10rem;
    color: white;
  }
}

//third row

.list1-icon3 {
  // background: $thelightestpurp;
  grid-row: list1-3;
  grid-column: listIcon/list1Body;
  background: url("/images/reactother.png");
  background-size: cover;
  background-position: -3rem 0;
  margin: 2px 19px;
}
.list1R3 {
  grid-row: list1-3;
  grid-column: list1Body;
  display: flex;
  justify-content: left;
  align-items: center;

  h2 {
    font-size: 17px;
    margin-left: 1rem;
    width: 10rem;
    color: white;
  }
}

//fourth row

.list1-icon4 {
  // background: $thelightestpurp;
  grid-row: list1-4;
  grid-column: listIcon/list1Body;
  background: url("/images/css.png");
  background-size: cover;
  background-position: 0;
  margin: 0px 12px;
}
.list1R4 {
  grid-row: list1-4;
  grid-column: list1Body;
  display: flex;
  justify-content: left;
  align-items: center;

  h2 {
    font-size: 17px;
    margin-left: 1rem;
    width: 10rem;
    color: white;
  }
}

//card 3
