.tech-container {
  height: 40rem;
  width: 100vw;

  display: grid;
  grid-template-rows: [techTopMarg] 0 [techBody] 8fr [techBottomMarg] 2fr [end];
  grid-template-columns: [techLeftMarg] 10% [techc1] 2.5fr [techc2] 2.5fr [techc3] 2.5fr [techc4] 2.5fr [techRightMarg] 10% [end];
  gap: 2rem;
}

//card 1

.tech-card1 {
  box-shadow: 5px 5px 10px grey;
  display: grid;
  grid-template-rows: [techPic1] 0.75fr [techSkills1] 3fr;
  grid-template-columns: [techCardBody1] auto [end];

  grid-row: techBody;
  grid-column: techc1;
  border: black 1px solid;
}
.tech-card1-pic1 {
  grid-row: techPic1;
  grid-column: techCardBody1;
  // background: url("/images/frontend.png") -5rem;
  background: $darkestpurp;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    //
    color: $mywhite;

    height: 3rem;
    font-size: 18px;
  }
}
.tech-card1-list1 {
  margin-top: 5px;
  background: lighten(#d8d0da, 0);
  grid-row: techSkills1;
  grid-column: techCardBody1;
  display: grid;
  grid-template-rows: [list1-topMarg] 2rem [list1-1] 2.5fr [list1-2] 2.5fr [list1-3] 2.5fr [list1-4] 2.5fr [list1-bottomMarg] 2rem;
  grid-template-columns: [listIcon] 4fr [list1Body] 8fr [end];
}

// first row
.list1-icon1 {
  // background: $thelightestpurp;
  grid-row: list1-1;
  grid-column: listIcon/list1Body;
  background: url("/images/javascriptIcon.png") no-repeat;
  background-size: cover;
  margin: 6px 19px;
}
.list1R1 {
  grid-row: list1-1;
  grid-column: list1Body;
  display: flex;
  justify-content: left;
  align-items: center;

  h2 {
    font-size: 17px;
    margin-left: 1rem;
    width: 10rem;
    color: white;
  }
}
//second row

.list1-icon2 {
  // background: $thelightestpurp;
  grid-row: list1-2;
  grid-column: listIcon/list1Body;
  background: url("/images/html.png");
  background-size: cover;
  margin: 5px 20px;
}
.list1R2 {
  grid-row: list1-2;
  grid-column: list1Body;
  display: flex;
  justify-content: left;
  align-items: center;

  h2 {
    font-size: 17px;
    margin-left: 1rem;
    width: 10rem;
    color: white;
  }
}

//third row

.list1-icon3 {
  // background: $thelightestpurp;
  grid-row: list1-3;
  grid-column: listIcon/list1Body;
  background: url("/images/reactother.png");
  background-size: cover;
  background-position: -3rem 0;
  margin: 2px 19px;
}
.list1R3 {
  grid-row: list1-3;
  grid-column: list1Body;
  display: flex;
  justify-content: left;
  align-items: center;

  h2 {
    font-size: 17px;
    margin-left: 1rem;
    width: 10rem;
    color: white;
  }
}

//fourth row

.list1-icon4 {
  // background: $thelightestpurp;
  grid-row: list1-4;
  grid-column: listIcon/list1Body;
  background: url("/images/css.png");
  background-size: cover;
  background-position: 0;
  margin: 0px 12px;
}
.list1R4 {
  grid-row: list1-4;
  grid-column: list1Body;
  display: flex;
  justify-content: left;
  align-items: center;

  h2 {
    font-size: 17px;
    margin-left: 1rem;
    width: 10rem;
    color: white;
  }
}

//card 3
