.tread__container {
  margin: 0;
  display: grid;
  @media (min-width: 320px) {
    height: 600px;
    grid-template-rows: [treadMain] 25% [treadButton] 25%[treadSecond] 50% [end];
    grid-template-columns: [treadLeft] 50% [treadRight] 50% [end];
  }
  @media (min-width: 400px) {
    height: 800px;
  }

  @media (min-width: 768px) {
    height: 1300px;
    grid-template-rows: [treadMain] 25% [treadButton] 25%[treadSecond] 50% [end];
    grid-template-columns: [treadLeft] 50% [treadRight] 50% [end];
  }

  @media (min-width: 1024px) {
    height: 1600px;
    grid-template-rows: [treadMain] 25% [treadButton] 25% [treadSecond] 50% [end];
    grid-template-columns: [treadLeft] 50% [treadRight] 50% [end];
  }

  @media (min-width: 1280px) {
    height: 2000px;
    grid-template-rows: [treadMain] 25% [treadButton] 25% [treadSecond] 50% [end];
    grid-template-columns: [treadLeft] 50% [treadRight] 50% [end];
  }
  @media (min-width: 1440px) {
    height: 2600px;
    grid-template-rows: [treadMain] 800px [treadButton] 800px [treadSecond] 1000px [end];
    grid-template-columns: [treadLeft] 50% [treadRight] 50% [end];
  }
  @media (min-width: 1600px) {
    height: 2800px;
    grid-template-rows: [treadMain] 25% [treadButton] 25% [treadSecond] 50% [end];
    grid-template-columns: [treadLeft] 50% [treadRight] 50% [end];
  }
}

.tread__second-pic {
  grid-row: treadSecond;
  grid-column: treadLeft/end;

  margin: 0 auto;

  background: url("/images/TreadTrack2.png") no-repeat;
  background-size: cover;

  @media (min-width: 320px) {
    // border: 2px solid red;
    background-position: 0rem 0;
    height: 72%;
    width: 90%;
    margin-top: 0;
  }
  @media (min-width: 360px) {
    // border: 2px solid red;
    background-position: 0rem 0;
    height: 80%;
    width: 90%;
    margin-top: 0;
  }

  @media (min-width: 375px) {
    // border: 2px solid red;
    background-position: 0rem 0;
    height: 84%;
    width: 90%;
    margin-top: 0;
  }

  @media (min-width: 400px) {
    background-position: 0rem 0;
    height: 70%;
    width: 90%;
    margin-top: 2rem;
  }

  @media (min-width: 768px) {
    background-position: 0rem 0;
    height: 80%;
    width: 90%;
    margin-top: 0rem;
  }
  @media (min-width: 1024px) {
    background-position: 0rem 0;
    height: 86%;
    width: 90%;
    margin-top: 0;
  }
  @media (min-width: 1280px) {
    margin-top: 5rem;
    background-position: 0rem 0;
    height: 85.5%;
    width: 90%;
    margin-top: 0;
  }
  @media (min-width: 1440px) {
    margin-top: 5rem;
    background-position: 0rem 0;
    height: 96%;
    width: 90%;
    margin-top: 0;
  }
  @media (min-width: 1600px) {
    margin-top: 5rem;
    background-position: 0rem 0;
    height: 96%;
    width: 90%;
    margin-top: 0;
  }
}
.tread__main-pic-wrapper {
  grid-row: treadMain/treadButton;
  grid-column: treadLeft/end;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(215, 214, 214);

  margin: 0 auto;
  @media (min-width: 320px) {
    // border: 2px solid red;
    grid-row: treadMain/treadSecond;
    grid-column: treadLeft/end;
    height: 90%;
    width: 90%;
  }
  @media (min-width: 1280px) {
    // border: 2px solid red;
    grid-row: treadMain/treadSecond;
    grid-column: treadLeft/end;
    height: 90%;
    width: 90%;
  }
}

.tread__main-pic {
  margin: 0;

  background: url("/images/treadTrack1.png") no-repeat;
  background-size: cover;
  @media (min-width: 320px) {
    height: 90%;
    width: 80%;
    background-position: 0rem 0;
  }
  @media (min-width: 360px) {
    background-position: 0rem 0;
    height: 90%;
    width: 73%;
  }
  @media (min-width: 375px) {
    background-position: 0rem 0;
    height: 86%;
    width: 65%;
  }
  @media (min-width: 400px) {
    background-position: 0rem 0rem;
    height: 80%;
    width: 73%;
  }
  @media (min-width: 768px) {
    background-position: 0rem 0rem;
    height: 88%;
    width: 70%;
  }
  @media (min-width: 1024px) {
    height: 90%;
    width: 66.5%;
  }

  @media (min-width: 1280px) {
    height: 85.5%;
    width: 70%;
  }
  @media (min-width: 1440px) {
    height: 85%;
    width: 90%;
  }
  @media (min-width: 1600px) {
    height: 93%;
    width: 65%;
  }
}

.tread__button-container {
  grid-row: treadMain;
  grid-column: treadLeft/end;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  z-index: 1;
}

.tread__button2-container {
  z-index: 1;
  grid-row: treadMain;
  grid-column: treadRight;
  display: flex;
  justify-content: flex-end;
}

//buttons

.tread__view {
  background: rgb(0, 0, 0);
  border-radius: 30px;
  margin-right: 4rem;

  width: 27rem;
  height: 7rem;
  font-size: 24px;
  color: white;
  margin-left: 4rem;
  border: none;
  font-family: "boldest", Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 13rem;
  @media (min-width: 320px) {
    width: 8rem;
    height: 3rem;
    font-size: 10px;
    margin-left: 1rem;
    margin-top: 4rem;
  }
  @media (min-width: 768px) {
    width: 18rem;
    height: 5rem;
    font-size: 20px;
    margin-right: 1rem;
    margin-top: 17rem;
  }
  @media (min-width: 1024px) {
    width: 20rem;
    height: 6rem;
    font-size: 22px;
    margin-left: 4rem;
    margin-top: 17rem;
  }
  @media (min-width: 1280px) {
    width: 20rem;
    height: 6rem;
    font-size: 15px;
    margin-top: 32rem;
  }
  @media (min-width: 1600px) {
    border-radius: 45px;
    width: 32rem;
    height: 9rem;
    font-size: 30px;
    margin-left: 6rem;
  }
}

.tread__repository {
  background: rgb(0, 0, 0);
  border-radius: 30px;

  color: white;

  border: none;
  font-family: "boldest", Helvetica, sans-serif;

  margin-right: 4rem;
  margin-top: 13rem;
  @media (min-width: 320px) {
    width: 8rem;
    height: 3rem;
    font-size: 10px;
    margin-right: 1rem;
    margin-top: 4rem;
  }
  @media (min-width: 768px) {
    width: 18rem;
    height: 5rem;
    font-size: 20px;
    margin-right: 1rem;
    margin-top: 17rem;
  }
  @media (min-width: 1024px) {
    width: 20rem;
    height: 6rem;
    font-size: 22px;
    margin-right: 3rem;
    margin-top: 17rem;
  }
  @media (min-width: 1280px) {
    width: 20rem;
    height: 6rem;
    font-size: 15px;
    margin-right: 4rem;
    margin-top: 32rem;
  }
  @media (min-width: 1600px) {
    border-radius: 45px;
    width: 32rem;
    height: 9rem;
    font-size: 30px;
    margin-right: 6rem;
  }
}
.tread__awrap {
  height: 10rem;
  margin-top: 5rem;
  @media (min-width: 320px) {
    height: 3rem;
    margin-top: 4rem;
  }
  @media (min-width: 1440px) {
    height: 3rem;
    margin-top: 3rem;
  }
}
