.proj__lr-wrapper {
  grid-row: projrBodyLow/projBottomMarg;
  grid-column: projcBodyRight/projRightMarg;

  background: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj__lr {
  margin-left: 1rem;
  border: black solid 1px;
  box-shadow: 5px 5px 10px grey;
  height: 90%;
  width: 100%;
  background: white;

  display: grid;
  grid-template-rows: [lr_header] 2fr [lr_body] 4fr [lr_buttons] 1fr [end];
  grid-template-columns: [lr_left] 1fr [lr_right] 1fr [end];
}

.proj__spot-header {
  background: $themaroonish;
  grid-row: lr_header/lr_body;
  grid-column: lr_left/end;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 29px;
    color: white;
  }
}

.proj__spot-sum-wrapper {
  grid-column: lr_right/end;
  grid-row: lr_body/end;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lighten(#d8d0da, 0);
  padding-right: 1rem;
}

.proj__spot-sum {
  height: 90%;
  width: 93%;

  z-index: 1;

  background: lighten(#d8d0da, 0);
  padding-left: 5%;
  p {
    font-weight: 600;
    color: black;
    font-size: 16px;
  }
}

.proj__spot-ss {
  padding-left: 5%;
  grid-column: lr_left/lr_right;
  grid-row: lr_body/end;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lighten(#d8d0da, 0);
}
.proj__spot-photo {
  width: 100%;
  height: 90%;

  background: url("/images/dummy2.png");
  background-size: cover;
  z-index: 1;
}

.proj__lr-link {
  grid-row: lr_buttons/end;
  grid-column: lr_left/lr_right;

  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.proj__lr-repo {
  grid-row: lr_buttons/end;
  grid-column: lr_left/end;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj__lr-readMore {
  grid-row: lr_buttons/end;
  grid-column: lr_right;

  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
.proj__lr-readMore-afterclick {
  grid-row: lr_header/end;
  grid-column: lr_left/end;

  background: $themaroonish;
  background-size: cover;
  z-index: 4;
  opacity: 0;

  display: grid;
  grid-template-rows: [lr_ac_header] 1fr [lr_acbody] 3fr [end];
  grid-template-columns: [lr_ac_main] auto;
}

.proj__lr-ac-header {
  grid-row: lr_ac_header/lr_acbody;
  grid-column: lr_ac_main;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 25px;
    margin-left: 7%;
    color: white;
    display: inline-block;
  }
}

.proj__lr-ac-text {
  grid-row: lr_acbody/end;
  grid-column: lr_ac_main;

  display: flex;
  justify-content: center;
  align-items: center;
}

.proj__lr-ac-text-box {
  margin-left: 3%;
  max-height: 25rem;
  width: 93%;

  color: white;
  overflow-y: scroll;

  p {
    font-size: 17px;
  }
}
