//fonts 

@font-face {
  font-family: "medium";
  src: url("../../fonts/Larsseit-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "boldest";
  src: url("../../fonts/Larsseit-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "light";
  src: url("../../fonts/Larsseit-Light.ttf") format("truetype");
}
@font-face {
  font-family: "thin";
  src: url("../../fonts/Larsseit-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "regular";
  src: url("../../fonts/Larsseit\ \(1\).ttf") format("truetype");
}
@font-face {
  font-family: "bold";
  src: url("../../fonts/Larsseit-Bold.ttf") format("truetype");
}
//base styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100vw;
  line-height: 1.6;
  margin: 0px;
}
a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
